* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.body {
    display:flex;
    flex-direction: column;
}

.header-color {
    background-color: #1F2937;
}

.header {
    flex:1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.header-logo {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
    margin-bottom: 100px;
    margin-top: 15px;
}

.header-links {
    display:flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: -80px;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    background: #1F2937;
    color:#e5e7eb;
}

.title-content-container {
    display:flex;
    width: 500px;
    flex-direction: column;
}

.title {
    display: flex;
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-left: 150px;
}

.title-subcontext {
    display:flex;
    font-size: 18px;
    color: #F9FAF8;
    margin-left: 150px;
    margin-top: 15px;
}
/* COME HERE FIRST */



.center-info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 45px;
}

.center-content-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.box-one-info, .box-two-info, .box-three-info, .box-four-info {
    display:flex;
    justify-content: center;
    text-align:center;
    width: 100px;
    flex-wrap:wrap;
}

.center-boxes {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-shrink: 0;
}

.box-one, .box-two, .box-three, .box-four {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color:#3882f6
}

.footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    flex:0;
    margin-top: auto;
}

.footer-content {
    color:#e5e7eb;

}
button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid;
    border-color: transparent;
}

.sign-up-button-one {
    display:flex;
    margin-bottom: 80px;
    margin-top: 15px;
    margin-left: 148px;
}

.button-two {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-color: #F9FAF8;
    width: 80px;
    border-radius: 6px;

}




.testimonial {
    box-sizing: border-box;
    display: block;
    background: #e5e7eb;
    margin-top:100px;
    margin-bottom:50px;
    padding: 100px;
    border: 6rem solid;
    border-color:#e5e7eb;
}

.testimonial-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 170px;
}

.testimonial-writer {
    display:flex;
    justify-content: flex-end;
    font-weight: 700;
    margin-bottom: 20px;
    padding-right: 200px;
    margin-top: -120px;
    
}

.call-to-action-banner {
    display:flex;
    background: #3882f6;
    color: #F9FAF8;
    flex-wrap: wrap;
    flex-direction: column;
    padding:20px;
}

.footer-title {
    font-weight: 700;
}

